.header img {
  width: 30%;
}
.container {
  margin: auto;
  padding: 2vh 0;
  width: 70vw;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black
}

.main-nav ul li {
  float: right;
}

.main-nav ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
  font-family:'Karla', sans-serif;
  font-size: 18px;
}


#hero {
  background-color: #495e57;
  padding: 2vh 0;
  position: relative;
}

#hero h1 {
  padding: 0;
  margin: 0;
  font-family: "Markazi Text", serif;
  color:#f4ce14;
  font-size: 64px;
  font-weight: 600;
}
#hero h2 {
  margin: 0;
  margin-top: 8vh;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 200;
  color: white;
}
#hero div img {
  display: flex;
  justify-content: space-between;
}
#hero .content {
  width: 20vw;
}
#hero img {
  position: absolute;
  width: 25vw;
  height: 40vh;
  top: 3vh;
  right: 14.6vw;

  border-radius: 1vh;
}
#hero p {
  font-size: 18px;
  font-family: "Karla", sans-serif;
  line-height: 1.65;
  color: white;
  padding-bottom: 2vh;
}
#hero button {
  padding: 1vh 1vw;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #f4ce14;
  cursor: pointer;
}
#hero button a {
  text-decoration: none;
  color: black;
}

#hero button:hover {
  transform: scale(105%);
}

#specials {
  padding: 14vh 0 6vh 0;
  padding-top: 2vh;
}
#specials .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#specials h2 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  opacity: 0.7;
}
#specials .content button {
  padding: 1vh 1vw;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 16px;
  background-color: #f4ce14;
  cursor: pointer;
  transform: scale(105%);
}



.foodsection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  padding-top: 1vh;
}

.foodinfo img {
  object-fit: cover;
  width: 100%;
  height: 25vh;
  border-radius: 20px;
}
.foodinfo div {
  margin: 0 1.2vw;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color:black;
  display: flex;
  justify-content: space-between;
}
.foodinfo .price {
  color: #ee9972;
  font-weight: 500;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
.foodinfo p {
  font-size: 16px;
  font-size: 400;
  font-family: "Karla", sans-serif;
}

.foodinfo .bike {
  height:50px;
  width: 70px;
}

.foodinfo button {
  display: flex;
  text-align: center;
  background: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;


}
.foodinfo button p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.foodinfo button:hover {
  box-shadow: 0 5px white;
  transform: translateY(4px);
}









#testimonials {
  padding: 1vh 0;
  background-color: #FBDABB;
  font-family: "Karla", sans-serif;

}
#testimonials h2 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  opacity: 0.7;
}
#testimonials > div > div {
  padding: 8vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
}


.testimonial {
  padding: 1vw;
  text-align: center;
  position: relative;
  background-color: #edefee;
  border-radius: 20px;
}

.testimonial img {
  height: 85px;
  border-radius: 50px;
}

.testimonial .content {
  padding-top: 3vh;
}

.testimonial h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
}

.testimonial .content p {
  font-weight: 400;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #fbdabb;
  line-height: 1.5;
  opacity: 0.8;
}




#aboutsection {
  padding: 6vh 0 16vh 0;
  background-color: #495E57;
}
#aboutsection h2 {
  font-size: 40px;
  font-weight: 500;
  color: #fbdabb;
  font-family: "Karla", sans-serif;
}
#aboutsection .container {
  display: flex;
}












.img-container {
  position: relative;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
}

.top {
  position: absolute;
  left: 100px;
  top: 170px;
  z-index: 1;
 }

 .img-container img {
  border-radius: 20px;
  margin-left: 800px;
 }




















#aboutsection .content {
  width: 50vw;
}
#aboutsection .content p {
  width: 20vw;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  color: black;
  line-height: 1.65;
}


#footer img {
  width: 5%;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  font-weight: 400px;
  
}
#footer .container ul li {
  list-style: none;
  line-height: 1.65;
  color: #333333;
  cursor: pointer;

}

.container li:hover {
  font-weight: 500;
  
}

#footer .facebook  {
  width: 20px;
  height: 30p
}

#footer .instagram {
  width: 20px;
  height: 30p
}

#footer .twitter {
  width: 20px;
  height: 30p
}

#footer .addressicon {
  width: 20px;
  height: 30p
}

#footer .phoneicon {
  width: 20px;
  height: 30p
}

#footer .emailicon {
  width: 20px;
  height: 30p
}






.formInput {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}

.formInput label {
  text-align: left;
  display: block;
  color:  #495E57;
  font-family: "Karla", sans-serif;
 

}

.formInput h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 500;
  color: #EE9972;
  margin-bottom: 30px;
  background-color: #495E57
}

.formInput input, .formInput select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  font-family: "Karla", sans-serif;
}


.formInput button {
  background-color: #f4ce14;
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
}





















input[type="submit"] {
  margin-top: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #f4ce14;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.2s ease;
}

.confirmedbooking {
  width: 100%;
  height: 50vh;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color:#495E57
}

.confirmedbooking p {
  color: black; 
  font-size: 14px;
  font-weight: 600;
}



.menu h1 {
  text-align: center;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  background-color: #495E57;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuofdishes {
  margin-left: 750px;
  border-radius: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
} 

.wraparound {
  background-color: #FBDABB;
}


.orderonline h1 {
  text-align: center;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  background-color: #495E57;
  padding-top: 20px;
}

.order {
  background-color: #495E57;
}

.mediterraneanfood {
width: 100%;
  
}

.Aboutpage h1 {
  text-align: center;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
}

.logintitle h1 {
  text-align: center;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  background-color: #495E57;
  padding-top: 15px;
  padding-bottom: 15px;
}
.loginpage {
  width: 20%;
  height: 20%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 775px;
  padding-right:775px;

}

.logintitle {
  background-color:#FBDABB
}


