body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.selector {
  display: flex;
}

.main-nav {
  list-style-type: none;
  margin: 0px;
  float: right;
  position: relative;
  right: 20px;
  top: 85px;
  left: 600px;
  padding: 10px;
  width: 83%;

}

.main-nav ul li {
  position: relative;
  margin-left:90px;
  right:10px;
  display: inline-block;
  font-family:'Karla', sans-serif;
  font-size: 18px;

}

.main {
  background-color: #495E57;
}

.main h1 {
  color: #F4CE14;
  font-size: 64px;
  font-weight: medium;
  font-family:'Markazi Text', serif;
  letter-spacing: 2px;
  margin-left: 100px;
  background-color:#495E57
}

.main p {
  color: white;
  font-family:'Markazi Text', serif;
  font-size: 40px;
  font-weight:normal;
  margin-left: 100px;
}

.main img {
margin-left: 1200px;
border-radius: 70px;
}

.button1 {
background-color: #F4CE14;
color: black;
border: 6px solid #F4CE14;
border-radius: 4px;
font-weight: medium;
margin-left: 100px;
font-family:'Karla', sans-serif;
font-size: 18px;
}

.button2 {
  background-color: #F4CE14;
  color: black;
  border: 6px solid #F4CE14;
  border-radius: 4px;
  font-weight: medium;
  margin-left: 1100px;
  font-family:'Karla', sans-serif;
  font-size: 18px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.column h1 {
  text-align: center;
}

.row h1 {
  text-align: center;
}

.column1 {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}

.fa {
  color: #F4CE14;
}




.about img {
  margin-left: 1000px;
  border-radius: 20px;
  }


.column2 {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}


.column2 a{
  display:block;
  text-decoration: none;
  margin-bottom: 10px;
}


.socials{
  font-size: 30px;

  }
